html,
body {
  position: relative;
  width: 100%;
}

:root {
  --primary-light: #a6f9d6;
  --primary: #5be2a9;
  --primary-dark: #53ce9a;
  --secondary: #1e2145;
  --warn: #ff6b6b;
}

html {
  background: var(
    --secondary
  );
}

body {
  background: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto,
    sans-serif;
}

label {
  line-height: 2;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

label {
  display: block;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  max-width: 400px;
  width: 100%;
  padding: 14px;
  margin: 0 0 12px 0;
  box-sizing: border-box;
  border: 1px solid #e3e3e6;
  border-radius: 4px;
  transition: all 150ms ease;
}

label {
  margin-top: 20px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 4px
    rgb(227, 227, 245);
  border-color: #c8ccf3;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #fff;
  background-color: var(
    --primary
  );
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  outline: none;
  border-radius: 4px;
  display: block;
  margin-top: 12px;
  line-height: 1.8;
  font-size: 14px;
  padding: 12px 24px;
  min-width: 200px;
  transition: all 150ms ease;
  cursor: pointer;
}

button:focus {
  box-shadow: 0 0 0 4px
    var(--primary-light);
}

button:hover {
  background-color: var(
    --primary-dark
  );
}

p {
  font-size: 18px;
  line-height: 1.8;
}

fieldset {
  border: none;
  padding: 0;
}

a {
  display: inline-block;
  padding: 12px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
}

a[aria-current="page"] {
  font-weight: bold;
  color: var(--primary);
}

label {
  display: block;
  color: #5d5f7b;
  font-weight: bold;
  margin-bottom: 4px;
}

small {
  display: block;
  color: var(--warn);
  font-size: 16px;
}

h1 {
  margin-top: 0;
  font-size: 36px;
}

form {
  background: #f7f7fb;
  padding: 50px 40px;
  margin: 50px 0;
  position: relative;
  border-radius: 12px;
}

form:before {
  position: absolute;
  content: "example";
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 35px;
  left: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #c7c7d4;
}

hr {
  border: 1px solid #ebebfd;
}
